# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.pkl

# Virtual env
.venv/
env/
venv/

# IDE / editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment & secrets
.env
*.env.local
